* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

header {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(200, 200, 200, 0.75);
}

header h2 {
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-items div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div li {
  /* padding: 0px 20px; */
}

div li a:hover {
  background-color: #e22f2f;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.active {
  background-color: #e22f2f;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}

section {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section p {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  padding: 30px;
  border-radius: 5px;
}

section button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e22f2f;
  color: #e22f2f;
  border-radius: 5px;
  font-size: 16px;
}

section button:hover {
  border: 1px solid #e22f2f;
  background-color: #e22f2f;
  color: #fff;
}
